.plan__title {
  font-family: var(--font-family_regular);
  font-size: 2.6rem;
  line-height: 2rem;
  padding: 20px;
}

.plan-form__title {
  font-family: var(--font-family_regular);
  font-size: 1.7rem;
  line-height: 1.4rem;
}

.plan__description {
  font-family: var(--font-family_regular);
  text-transform: uppercase;
  padding: 20px;
}

.plan-form__fieldset {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 0;
}

.plan-form__label,
.plan-form__input {
  font-family: var(--font-family_regular);
  font-size: 1.1rem;
  text-transform: uppercase;
}
