.button {
  padding: 12px 20px;
  font-family: $font-family-primary;
  text-decoration: none;
  text-transform: uppercase;
  color: $basic_white;
  background-color: $basic_green;
  display: block;
  text-align: center;
}

.button--neutral {
  color: $basic_black;
  background-color: $basic_grey;
}
