.catalog {
  display: flex;
  flex-direction: column;
  border-top: 1px solid $special_grey-2;
  border-bottom: 1px solid $special_grey-2;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    padding: 0;
    max-width: $desktop-width;
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    grid-gap: 68px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    grid-gap: 65px 80px;
    max-width: $desktop-width;
    margin: auto;
  }
}

.catalog__title {
  font-family: $font-family-primary;
  font-size: 36px;
  font-weight: normal;
  line-height: 2rem;
  margin: 27px 20px;
  padding-bottom: 45px;
  margin-bottom: 0;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 60px;
    margin-top: 65px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 80px;
    margin-bottom: 55px;
  }
}
