.complementary {
  margin: 20px;
  margin-bottom: 37px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: auto;
  }
}

.complementary__title {
  font-family: $font-family-primary;
  font-size: 24px;
  font-weight: normal;
  line-height: 21px;
  position: relative;
  margin-left: -22px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-left: 25px;
    margin-bottom: 86px;
    letter-spacing: 0.5px;
    font-size: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-left: -20px;
    margin-top: 86px;
  }
}

.complementary__line {
  background-color: $basic-white;
  padding: 0 22px;
}

.complementary__wrapper {
  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 86px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 60px;
  }
}
