.contacts__wrapper {
  background-color: $basic-grey;
  display: flex;
  padding: 28px 20px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 71px;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-white;
    position: absolute;
    top: 20%;
    left: 16%;
    z-index: 3;
    width: 510px;
    padding: 66px 77px;
  }
}

.contacts__slogan {
  font-family: $font-family-primary;
  font-size: 1.1rem;
  text-transform: uppercase;
  max-width: 171px;

  @media (min-width: $tablet-width) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__address {
  line-height: 1.1rem;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 1.1rem;
    line-height: 1.1rem;
    text-align: right;
  }
}

.contacts-map {
  width: 100%;

  @media (min-width: $desktop-width) {
    z-index: 2;
  }
}

.contacts-map__image img {
  width: 100%;
  height: auto;
}
