.main-navigation {
  display: flex;
  padding: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
  position: relative;
}

.main-navigation__toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 70px;
  height: 50px;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-navigation__logo-text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}
