.plan__title {
  font-family: $font-family-primary;
  font-weight: normal;
  font-size: clamp(36px, 5vw, 60px);
  line-height: 2rem;
  word-wrap: break-word;
  max-width: 500px;
  margin-bottom: 37px;
  padding: 0 20px;
  outline-color: $basic_green;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 54px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    margin-top: 60px;
    margin-bottom: 56px;
    max-width: $desktop-width;
  }
}

.plan__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 350px;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: $desktop-width;
    margin-bottom: 66px;
  }
}

.plan__description {
  font-family: $font-family-primary;
  font-size: clamp(14px, 2vw, 20px);
  text-transform: uppercase;
  max-width: 274px;
  word-wrap: break-word;
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    max-width: 350px;
  }

  @media (min-width: $desktop-width) {
    line-height: 30px;
  }
}
