.plan-form {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  color: $special_dark-grey;

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: auto;
  }
}

.plan__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
  }
}

.plan-form__title {
  font-family: $font-family-primary;
  font-size: clamp(24px, 5vw, 36px);
  line-height: clamp(26px, 5vw, 36px);
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    max-width: 512px;
  }
}

.plan-form__fieldset {
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding: 0;
}

.plan-form__label,
.plan-form__input {
  font-family: $font-family-primary;
  font-size: clamp(16px, 3vw, 20px);
  color: $special_dark-grey;
  text-transform: uppercase;
  word-wrap: break-word;
  margin: auto 0;
}

.plan-form__label {
  margin-right: 13px;
  word-wrap: break-word;
  max-width: 300px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.plan-form__input {
  border: 1px solid $special-grey-4;
  padding: 10px 16px;

  &:invalid {
    border-color: $status_error;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 18px;
  }
}

.plan-form__general {
  display: grid;
  padding: 0 20px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    margin-top: 32px;
    margin-bottom: 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.plan-form__group {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.plan-form__options {
  border-top: 1px solid $line-break;
  border-bottom: 1px solid $line-break;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.plan-form__box {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;

  label {
    &:hover {
      color: $special_dark-grey-2;
    }

    &:active {
      color: $special_dark-grey-2;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $line-break;
    padding-bottom: 20px;
    justify-content: center;
  }
}

.plan-form__label--radio {
  display: block;
  position: relative;
  padding-left: 45px;
  margin-bottom: 24px;
  cursor: pointer;
  user-select: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
    padding-left: 58px;

    &:last-of-type {
      margin-bottom: 15px;
    }
  }
}

.plan-form__label--radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.plan-form__radio {
  position: absolute;
  top: -6px;
  left: 0;
  height: 28px;
  width: 28px;
  border: 1px solid $special_grey;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    height: 35px;
    width: 35px;
  }
}

.plan-form__label--radio:hover input ~ .plan-form__radio {
  border: 1px solid $special_grey-3;
}

.plan-form__label--radio:active input ~ .plan-form__radio {
  border: 1px solid $special_grey-3;
  opacity: 0.3;
}

.plan-form__radio::after {
  content: "";
  position: absolute;
  display: none;
}

.plan-form__label--radio input:checked ~ .plan-form__radio::after {
  display: block;
}

.plan-form__label--radio .plan-form__radio::after {
  top: 7px;
  left: 7px;
  width: 13.5px;
  height: 13.5px;
  border-radius: 50%;
  background: $basic_green;

  @media (min-width: $tablet-width) {
    top: 9px;
    left: 9px;
    height: 18px;
    width: 18px;
  }
}

// Contacts
.plan-form__contacts {
  margin-top: 26px;
  padding: 0 20px;

  .plan-form__title {
    padding: 0;
    max-width: 280px;
    margin-bottom: 35px;
    position: relative;

    @media (min-width: $tablet-width) {
      max-width: 786px;
      margin-top: 26px;
      margin-bottom: 76px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 0;
      grid-area: title;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    margin-top: 52px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-template-areas: "title title"
      "email tel";
    padding: 0;
  }
}

.plan-form__group--email {
  grid-area: email;

  input {
    background-image: url("../../img/icon-email.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    padding-left: 13px;
  }
}

.plan-form__group--tel {
  grid-area: tel;
  position: relative;

  input {
    background-image: url("../../img/icon-tel.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    padding-left: 13px;
  }
}

// Comments

.plan-form__comments {
  margin-top: 0;
  padding: 0 20px;

  .plan-form__title {
    padding: 0;
    max-width: 187px;
    margin-top: 10px;
    padding-top: 0;
    margin-bottom: 35px;
    position: relative;

    @media (min-width: $tablet-width) {
      max-width: 250px;
      margin-bottom: 75px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.plan-form__textarea {
  font-family: $font-family-primary;
  font-size: clamp(16px, 2vw, 20px);
  padding: 5px 12px;
  padding-bottom: 22px;
  text-transform: uppercase;
  border: 1px solid $special-grey-4;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;
    font-size: 20px;
    padding-top: 8px;
    padding-left: 18px;
  }
}

// Addons

.plan-form__addons {
  margin-top: 22px;
  padding: 0 20px;

  .plan-form__title {
    padding: 0;
    max-width: 200px;
    margin-bottom: 35px;
    position: relative;

    @media (min-width: $tablet-width) {
      max-width: 280px;
      margin-top: 10px;
      margin-bottom: 70px;
    }
  }

  label {
    color: $special_dark-grey-2;

    &:active {
      color: $special_dark-grey-2;
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 70px;
    margin-top: 52px;
    margin-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 32px;
    grid-column-gap: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 75px;
    padding: 0;
  }
}

.plan-form__label--checkbox {
  display: block;
  position: relative;
  padding-left: 44px;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    font-size: 20px;
    padding-left: 60px;
  }
}

.plan-form__label--checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.plan-form__checkmark {
  position: absolute;
  top: -3px;
  left: 0;
  height: 26px;
  width: 26px;
  border: 1px solid $special_grey;

  @media (min-width: $tablet-width) {
    top: -10px;
    height: 38px;
    width: 38px;
  }
}

.plan-form__label--checkbox:hover input ~ .plan-form__checkmark {
  border: 1px solid $special_grey-3;
}

.plan-form__label--checkbox:active input ~ .plan-form__checkmark {
  border: 1px solid $special_grey-3;
  opacity: 0.3;
}

.plan-form__checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

.plan-form__label--checkbox input:checked ~ .plan-form__checkmark::after {
  display: block;
}

.plan-form__label--checkbox .plan-form__checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 15px;
  border: solid $basic_green;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);

  @media (min-width: $tablet-width) {
    width: 7px;
    height: 21px;
    left: 15px;
  }
}

.plan-form__container {
  display: grid;
  margin: 0 20px;
  margin-top: 16px;

  .plan-form__button {
    border: none;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (min-width: $tablet-width) {
      margin: 0;
      font-size: 20px;
    }
  }


  .plan-form__details {
    margin-top: 17px;
    margin-bottom: 32px;
    text-align: center;

    @media (min-width: $tablet-width) {
      margin: 0;
      margin-top: 10px;
      text-align: left;
      font-size: 16px;
    }


    @media (min-width: $desktop-width) {
      margin-left: 20px;
      margin-top: 15px;
    }
  }

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    margin-bottom: 68px;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin-top: 25px;
    margin-left: 0;
    margin-bottom: 80px;
  }
}

textarea:focus,
input:focus,
input[type]:focus {
  border-color: $special_dark-grey;
  outline: 0 none;
}

textarea:hover,
input:hover,
input[type]:hover {
  border-color: $special_grey;
}
