.promo {
  background-image: url("../img/promo_bg-mobile.jpg");
  background-color: $basic_green;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo_bg-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: none;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to right, $basic-white 0, $basic-white 50%, $basic_green 50%, $basic_green 100%), url("../img/promo_bg-desktop.jpg");
    background-color: transparent;
    background-size: 50%;
    margin-top: -410px;
    background-position-x: right;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo_bg-desktop@2x.jpg");
    }
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    margin: 0;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto 1fr;
    grid-template-areas: "title image"
      "desc image"
      "btn image";
    margin: auto;
    max-width: $desktop-width;
  }
}

.promo__title {
  margin: 0 auto;
  font-family: $font-family-primary;
  font-weight: normal;
  color: $basic-white;
  margin-top: 25px;
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  grid-area: title;
  max-width: 280px;
  word-wrap: break-word;

  @media (min-width: $tablet-width) {
    color: $basic_black;
    font-size: 59px;
    line-height: 61px;
    max-width: 500px;
    text-align: left;
    letter-spacing: 0.5px;
    margin-top: 50px;
    margin-bottom: 17px;
    margin-left: 87px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    margin-top: 510px;
    margin-left: 80px;
    font-size: 60px;
    line-height: 60px;
    max-width: 500px;
    letter-spacing: 0;
  }
}

.promo__description {
  margin: 0 auto;
  font-family: $font-family-primary;
  color: $basic_white;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 15px;
  max-width: 280px;
  word-wrap: break-word;
  grid-area: desc;
  margin-bottom: 26px;

  @media (min-width: $tablet-width) {
    color: $basic_black;
    margin-left: 90px;
    font-size: 20px;
    margin-bottom: 46px;
    text-align: left;
    max-width: 300px;
    z-index: 1;
    line-height: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -265px;
    margin-left: 80px;
  }
}

.promo__wrapper img {
  margin: 0;
  width: 100%;
  grid-area: image;
  max-width: 280px;

  @media (min-width: $tablet-width) {
    order: 2;
    margin: auto;
    margin-top: -30px;
    z-index: -1;
    max-width: 709px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    z-index: 1;
    margin: 0;
    max-width: 550px;
    margin-top: 430px;
    margin-left: -355px;
  }
}

.promo__button {
  margin-bottom: -178px;
  grid-area: btn;

  @media (min-width: $tablet-width) {
    margin-left: 90px;
    margin-right: 120px;
    max-width: 200px;
    margin-top: -582px;
    margin-bottom: 476px;
    z-index: 1;
    padding: 18px 21px;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
    margin-top: -190px;
    margin-bottom: 476px;
  }
}
