.service {
  margin-top: 200px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    max-width: $desktop-width;
    margin-top: -205px;
  }
}

.service__wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}
