.site-navigation {
  font-weight: bold;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 51px;
  left: 0;
  background-color: $basic-white;
  width: 100%;
  border-bottom: 1px solid $basic-grey;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.site-navigation__item {
  @media (min-width: $tablet-width) {
    margin-left: 34px;
  }
}

.site-navigation__link {
  color: $basic-black;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 1.4rem;
  font-family: $font-family-primary;
  font-weight: bold;
  line-height: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-top: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    border: none;
    font-weight: normal;

    &--active {
      border-bottom: 2px solid $basic-green;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.site-navigation__link-promo {
  &--active {
    border-bottom: 2px solid $basic-green;
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;

    &--active {
      border-bottom: 2px solid $basic-white;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
