.site-navigation {
  font-weight: bold;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 51px;
  left: 0;
  background-color: $basic-white;
  width: 100%;
  border-bottom: 1px solid $basic-grey;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: static;
    display: flex;
    border-bottom: none;
    margin-top: 24px;
  }

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.site-navigation__item {
  border-top: 1px solid $basic-grey;

  @media (min-width: $tablet-width) {
    margin-left: 36px;
    border: none;
  }

  @media (min-width: $tablet-width) {
    margin-left: 34px;
    border: none;
  }
}

.site-navigation__link {
  display: block;
  padding-top: 20px;
  padding-bottom: 25px;
  margin: auto;
  color: $basic-black;
  font-size: 19px;
  font-family: $font-family-primary;
  font-weight: bold;
  line-height: 20px;
  max-width: 280px;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 10px;

    &--active {
      border-bottom: 2px solid $basic-green;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    font-size: 20px;
    line-height: 22px;
  }
}

.site-navigation__link-promo {
  @media (min-width: $tablet-width) {
    &--active {
      border-bottom: 2px solid $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    color: $basic-white;

    &--active {
      border-bottom: 2px solid $basic-white;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
