body {
  font-family: $font-family_standard;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-family: $font-family_oswald;
  font-weight: normal;
}
