// Fonts
@font-face {
  font-family: "OswaldRegular";
  src: url("../fonts/oswaldregular.woff2") format("woff"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OswaldMedium";
  src: url("../fonts/oswaldmedium.woff2") format("woff"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$font-family_standard: arial, helvetica, sans-serif;
$font-family_regular: "OswaldRegular", helvetica, sans-serif;
$font-family_medium: "OswaldMedium", helvetica, sans-serif;
