// Fonts
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Oswald"),
    url("../fonts/oswaldregular.woff2") format("woff"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Oswald Bold"),
    local("Oswald-bold"),
    url("../fonts/oswaldmedium.woff2") format("woff"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

$font-family-default: arial, helvetica, sans-serif;
$font-family-primary: "Oswald", arial, helvetica, sans-serif;
