.catalog {
  display: flex;
  flex-direction: column;
}

.catalog__title {
  font-family: var(--font-family_regular);
  font-size: 2.6rem;
  line-height: 2rem;
  padding: 20px;
}

.catalog-item {
  padding: 20px;
  border-top: 1px solid var(--line-break);
}

.catalog-item__title {
  font-family: var(--font-family_regular);
  font-size: 1.2rem;
  line-height: 1.3rem;
}

.catalog-item__details {
  line-height: 0.85rem;
}
