.complementary {
  padding: 20px;
}

.complementary__title {
  font-family: var(--font-family_regular);
  font-size: 1.7rem;
  line-height: 1.3rem;
}

.complementary-product {
  padding-bottom: 19px;
  border-bottom: 1px solid var(--line-break);
}

.complementary-product__title {
  font-family: var(--font-family_regular);
  font-size: 1.1rem;
  line-height: 0.9rem;
}

.complementary-product__desc {
  line-height: 0.85rem;

  & dd {
    margin: 0;
  }
}

.complementary-promo {
  font-size: 1.1rem;
  line-height: 1.1rem;
  color: var(--basic_white);
  background-image: url("../../img/catalog/gift-photo-mobile.png");
  background-repeat: no-repeat;
  height: 289px;
}
