.button {
  padding: 15px 80px;
  font-family: var(--font-family_regular);
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic_white);
  background-color: var(--basic_green);
  display: block;
  text-align: center;
}

.button--neutral {
  color: var(--basic_black);
  background-color: var(--basic_grey);
}
