// Global styles
@import "./button.scss";
@import "./contacts.scss";
@import "./main-navigation.scss";
@import "./page-footer.scss";
@import "./site-navigation.scss";

// Index page styles
@import "./index/example.scss";
@import "./index/features.scss";
@import "./index/promo.scss";
@import "./index/service.scss";

// Catalog page styles
@import "./catalog/catalog.scss";
@import "./catalog/complementary.scss";

// Form page styles
@import "./form/plan.scss";


// Fonts
@font-face {
  font-family: "OswaldRegular";
  src: url("../fonts/oswaldregular.woff2") format("woff"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OswaldMedium";
  src: url("../fonts/oswaldmedium.woff2") format("woff"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

// Visibility hidden

:root {
  // Colors
  --basic_green: #68b738;
  --basic_green-2: #5eaa2f;
  --basic_grey: #f2f2f2;
  --basic_grey-2: #eaeaea;
  --special_grey: #cdcdcd;
  --special_grey-2: #ebebeb;
  --secondary_special_grey-2: #666666;
  --special_dark-grey: #444444;
  --special_dark-grey-2: #222222;
  --status_error: #ff8282;
  --basic_black: #000000;
  --basic_white: #ffffff;
  --line-break: #d9d9d9;

  // Shadows
  --shadow_normal: 0 1px 3px rgba(0, 0, 0, 0.16);
  --shadow_hover: 0 2px 4px rgba(0, 0, 0, 0.19);
  --shadow_pressed: 0 3px 5px rgba(0, 0, 0, 0.2);

  // Fonts
  --font-family_standard: arial, helvetica, sans-serif;
  --font-family_regular: "OswaldRegular", helvetica, sans-serif;
  --font-family_medium: "OswaldMedium", helvetica, sans-serif;
  --font-size_standard: 14px;
  --line-height: 18px;
}

body {
  font-size: var(--font-size_standard);
  line-height: var(--line-height);
  font-family: var(--font-family_standard);
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
